<div class="content" style="height: 100%; padding-top: 80px; padding-bottom: 80px;">
<p id="notice"><%= notice %></p>
<h1 class="tittle"> Visitor info </h1>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<div class="field">
  <h3 class="tittle">Reservations</h3>
  <%= render "reservations/form" %>
  </div>

  <ul>
    <% @user.reservations.each do |reservation|%>
        <li><p style="color: #0066FF;">Check-in</p><%= reservation.arrival %>   <p style="color: #0066FF;">Check-out</p><%= reservation.departure %></li>
        <li><p style="color: #0066FF;">Room number</p><%= reservation.room.number %></li>
        <button><%= link_to 'Edit reservation', edit_user_reservation_path(@user, reservation) %></button>
    <% end %>
  </ul>

    <button><%= link_to 'Edit Visitor', edit_user_path(@user) %></button> |
    <button><%= link_to 'Done', @user.hotel %></button>

</div>
