<p id="notice"><%= notice %></p>
<h1> Visitor info </h1>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<!-- <p>
  <strong>Hotel:</strong> -->
  <%# @user.hotel %>
<!-- </p> -->


<div class="field">
  <h3>Reservations</h3>
  <%= render "reservations/form" %>

  <ul>
    <% @user.reservations.each do |reservation|%>
        <li><p>Check-in</p><%= reservation.from %>   <p>Check-out</p><%= reservation.to %></li>
        <li><p>Room number</p><%= reservation.room.number %></li>
    <% end %>
  </ul>


    <%= link_to 'Edit Visitor', edit_user_path(@user) %> |
    <%= link_to 'Done', @user.hotel %>
