<%= form_for([@user,@reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.reservations.count == 0 %>
 <!-- </div> -->
  <div class="field">
    <%= f.label :from %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.date_select :to %>
  </div>
  <div class="field">
   <%= f.label :room %>
   <%= collection_select( :reservation, :room_id, Room.all, :id, :number, {}, { :multiple => false } ) %>
 </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% else %>

  <% end %>


<% end %>
