<div class="content" style="height: 100%; padding-top: 80px; padding-bottom: 80px;">
<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# if @rooms.reservation.count == 0 %>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.number %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%# end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
</div>
