<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %><br>
  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Back', rooms_path %>

  </p>
  <h2> Reservations </h2>
  <p>
  <%= form_tag room_path, :method => 'get' do %>
  <%= date_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
  <p>
  <% @reservations.each do |r| %>
  <%= r.user.first_name %>
  <% if r.departure < Date.today %> <!-- if the visitor is gone already -->
  <p> was here from</p>
   <%= r.arrival %> <p>to</p> <%= r.departure %><br>
   <% else %>
   <p> is going to be here from </p>
   <%= r.arrival %> <p>to</p> <%= r.departure %><br>
   <% end %>
  <% end %>
</p>

<!-- <p>
  <strong>Reservation:</strong>
  <%# @room.reservation %>
</p> -->
